; How to get the id and token?
;   Create a webhook for the (or each) channel and copy the url.
;   Your url will be like "https://discordapp.com/api/webhooks/{id}/{token}".
;   The numbers after "webhooks/" are the id, the content after the slash is the token.

[news]
; soon

[leaks]
; soon

[newthread]
; {id} = {token}

[co]
; {id} = {token}

[coimg]
; {id} = {token}

[trash]
; {id} = {token}

[trashimg]
; {id} = {token}
